* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nekro One', cursive;
}

.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: #111;
  padding-top: 60px;
  transition: 0.7s;
  overflow-x: hidden;
  z-index: 1;
}

.sidenav a {
  display: block;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.3rem;
  color: #818181;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 35px;
  color: #fff;
}

span {
  cursor: pointer;
  font-size: 23px;
  margin-left: 35px;
  padding: 15px;
  transition: 0.7s;
}

#main {
  transition: 0.7s;
  padding: 15px;
}